/* Start coding here */
body {
    background-image: linear-gradient(50deg, pink, blue);
}

section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;

}

.container-1,
.container-2,
.container-3 {
    padding: 20px 20px 10px 20px;
    flex-basis: 15%;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.4);
    justify-content: space-between;
    text-align: center;

}

.buttom {
    padding: 10px;
    background-color: yellow;
}

h1 {
    color: white;
}

h2 {
    font-size: 72px;
}